:root {
  /* Color theme */
  --primary-color: #c9fcff;

  /* Narrow page layout */
  --narrow-width: 740px;

  --easing: cubic-bezier(0.25, 1, 0.5, 1);
}

body {
  /* Accessible and reader friendly font */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.2;

  /* Page background */
  margin: 0;
}

body,
html {
  background-color: #000;
}

/* Fade in keyframes */
@-webkit-keyframes showPage {
  from {
    transform: translateY(1em);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

main {
  /* Page outer margin */
  max-width: var(--narrow-width);
  margin: 0 auto;
  padding: 2rem 1rem;
  transition: all 0.3s var(--easing);
  animation: showPage 0.3s var(--easing) forwards;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 600px) {
  main {
    margin: 0 auto;
    padding: 4rem 2rem;
  }
}

a {
}
